<div class="col-md-6 col-lg-4 ">
    <a href="/recipes/show/{{id}}">
        <div class="card my-3 mx-3 rec-card" >
            <img src="{{img}}" class="card-img-top" alt="{{title}}">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{truncate description}}</p>
            </div>
        </div>
    </a>
</div>