<div class="rec-container">
  <div class="jumbotron mt-3">
    <div class="jum-head ">
      
      <h1 class="display-4">{{rec.title}}</h1>
      {{#if user}}
      <a href='save/{{rec.id}}' class="btn-primary btn-save mt-3">Save</a>
      {{/if}}
    </div>
    {{#with rec}}
    {{#if author}}
      <p>Posted by: {{author.firstName}} {{author.lastName}}</p>
    {{/if}}
    <p>Prep Time: {{prepTime}} | Cook Time: {{cookTime}} | Yield: {{yield}} | Total: {{total}}</p>
  </div>
  <div class="description">
      <p><em>{{description}}</em></p>
  </div>
  <img src="{{img}}" alt="{{title}}" class='rec-pic'>
  <div class="rec-body">
    <div class="ingredients">
      <h3 class='h3-ingred'>Ingredients:</h3>
      <ul class="ul-ingred">
      {{#each ingredients}}
        <li>{{this.raw}}</li>
      {{/each}}
      </ul>
    </div>
    <div class="instructions">
      <h3 class="h3-ins">Directions:</h3>
      <ol class="ol-ins">
      {{#each instructions}}
        <li>{{this}}</li>
      {{/each}}
      </ol>
    </div>
  </div>
  {{/with}}
  <div class="comments-header my-5">
    <h3 class="h3-comm">Comments:</h4>
  </div>
  {{#each rec.comments}}
    <div class="media comment-card mb-3">
      <img src="{{commentUser.img}}" class="mr-3 comment-img" alt="profile pic">
      <div class="media-body">
        <h5 class="mt-0">{{commentUser.firstName}} {{commentUser.lastName}} says:</h5>
        <p>{{commentBody}}</p>
      </div>
    </div>
  {{/each}}
  <div class="card card-comments my-5">
    <div class="card-body">
      <h4>Add Comment</h4>
      {{#if user}}
        <form method='post' action="/recipes/comment/{{rec.id}}">
          <textarea class="form-control my-3" placeholder='What did you think about the recipe?' name="commentBody" rows='3' required></textarea>
          <button type='submit' class="btn-primary">Submit</button>
        </form>
      {{else}}
        <p> Please log in to comment</p>
      {{/if}}
    </div>
  </div>
</div>


