{{#each rec}}
<div class="rec-container">
  <div class="jumbotron mt-3">
    <h1 class="display-4">{{title}}</h1>
    <p>Posted by: {{author.firstName}} {{author.lastName}}</p>
    <p>Prep Time: {{prepTime}} | Cook Time: {{cookTime}} | Yield: {{yield}} | Total: {{total}}</p>
  </div>
  <div class="description">
      <p><em>{{description}}</em></p>
  </div>
  <img src="{{img}}" alt="{{title}}" class='rec-pic'>
  <div class="rec-body">
    <div class="ingredients">
      <h3>Ingredients:</h3>
      <ul>
      {{#each ingredients}}
        <li>{{this.raw}}</li>
      {{/each}}
      </ul>
    </div>
    <div class="instructions">
      <h3>Directions:</h3>
      <ol>
      {{#each instructions}}
        <li>{{this}}</li>
      {{/each}}
      </ol>
    </div>
  </div>
</div>
{{/each}}

